{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commandes list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Datecommande</th>
                <th>Datelivraison</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.nom }}</a></td>
                <td>{% if commande.datecommande %}{{ commande.datecommande|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if commande.datelivraison %}{{ commande.datelivraison|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ commande.description }}</td>
                <td>{{ commande.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commande_show', { 'id': commande.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commande_edit', { 'id': commande.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commande_new') }}">Create a new commande</a>
        </li>
    </ul>
{% endblock %}
